/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.form-button{
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
}

.error-p{
    color: red;
}

.p_message{
    color: green;
    text-align: center;
}

.carousel-caption{
    background-color: #00000082;
    border-radius: 5px;
}

.carousel-control-next, .carousel-control-prev{
    background-color: black;
    border-radius: 5px;
}

.carousel-control-next, .carousel-control-prev {
   
    top: 23rem;
    bottom: 11rem;

    width: 4%;
    
}

.invalid-input{
    color: red;
    font-size: 12px;
    margin-top:20px ;
}

button:disabled{
    cursor: not-allowed;
}

.max-width{
    width: 100%;
}
    /* position: absolute;
    top: 12rem;
    bottom: 23rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease; */